.category {
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.category .icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.category .icon img {
  width: 80%;
  height: auto;
}
.h-100 {
  width: 80%;
  height: 250px !important;
}

.input {
  border: none;
  outline: none;
  border-left: solid 1px;
}
.button:hover {
  color: rgb(0, 183, 255);
}

.footer-business-partner {
  background: #002f34;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}
.footer-business-partner__slogan {
  color: white;
  text-align: center;
}
.btnn{
  border: none;
  outline: none;
  background-color:rgb(159, 189, 230);
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}
.btnn:hover{
  background-color:rgb(6, 106, 236);
}
.fw{
  font-weight: 900;
}
.writeDowner{
  width: 125px;
  margin-top: 70px;
}
.rounded{
  cursor: pointer;
}
.swiper{
 width: 150px !important;
}
.swiperjs{
  width: 900px !important;
}